body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Print styles */
@media print {
  body * {
    visibility: hidden;
  }
  
  #resume-to-print, #resume-to-print * {
    visibility: visible;
  }
  
  #resume-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .no-print {
    display: none !important;
  }
}
